<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Perfil Ejidatario</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="lib/nivo-slider/css/nivo-slider.css" rel="stylesheet">
    <link href="lib/owlcarousel/owl.carousel.css" rel="stylesheet">
    <link href="lib/owlcarousel/owl.transitions.css" rel="stylesheet">
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/venobox/venobox.css" rel="stylesheet">

    <!-- Nivo Slider Theme -->
    <link href="css/nivo-slider-theme.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="css/style.css" rel="stylesheet">

    <!-- Responsive Stylesheet File -->
    <link href="css/responsive.css" rel="stylesheet">

    <!-- =======================================================
      Theme Name: eBusiness
      Theme URL: https://bootstrapmade.com/ebusiness-bootstrap-corporate-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->
</head>

<body data-spy="scroll" data-target="#navbar-example">

<div id="preloader"></div>

<header>
    <!-- header-area start -->
    <div id="sticker" class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">

                    <!-- Navigation -->
                    <nav class="navbar navbar-default">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse main-menu bs-example-navbar-collapse-1" id="navbar-example">
                            <ul class="nav navbar-nav navbar-right">
                                <li >
                                    <a class="page-scroll" href="#home">Inicio</a>
                                </li>
                                <li>
                                    <a class="page-scroll" href="#about">Eventos</a>
                                </li>
                                <li>
                                    <a class="page-scroll" href="#services">Pagos/CuotaS</a>
                                </li>
                                <li>
                                    <a class="page-scroll" href="#team">Calendario</a>
                                </li>
                                <li>
                                    <a class="page-scroll" href="#portfolio"></a>
                                </li>

                                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Documentación<span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href=# >Solicitar</a></li>
                                        <li><a href=# >Historial</a></li>
                                    </ul>
                                </li>


                                <li>
                                    <a class="page-scroll active" href="#contact">Contacto</a>
                                </li>
                            </ul>
                        </div>
                        <!-- navbar-collapse -->
                    </nav>
                    <!-- END: Navigation -->
                </div>
            </div>
        </div>
    </div>
    <!-- header-area end -->
</header>
<!-- Start contact Area -->
<br> <br> <br> <br>

<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-sm-10"><h1>Ejidatario  </h1></div>

    </div>
    <div class="row">
        <div class="col-sm-3"><!--left col-->
            <ul class="list-group">
                <li class="list-group-item text-muted">Documentos PDF's</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>CURP</strong></span> <a target="_blank" href="curp.pdf" data-toggle="tooltip" title="Descargar" download > <img src="icon.png" width=10%> </a></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Acta de Nacimiento</strong></span> <a target="_blank" href="curp.pdf" data-toggle="tooltip" title="Descargar" download > <img src="icon.png" width=10%> </a></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Copie INE/IFE</strong></span> <a target="_blank" href="curp.pdf" data-toggle="tooltip" title="Descargar" download > <img src="icon.png" width=10%> </a></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Acta de Matrimonio</strong></span> <a target="_blank" href="curp.pdf" data-toggle="tooltip" title="Descargar" download > <img src="icon.png" width=10%> </a></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Certificado Parcelario</strong></span> <a target="_blank" href="curp.pdf" data-toggle="tooltip" title="Descargar" download > <img src="icon.png" width=10%> </a></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Certificado de uso comun</strong></span> <a target="_blank" href="curp.pdf" data-toggle="tooltip" title="Descargar" download > <img src="icon.png" width=10%> </a></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Permiso de riego</strong></span> <a target="_blank" href="curp.pdf" data-toggle="tooltip" title="Descargar" download > <img src="icon.png" width=10%> </a></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>R.F.C.</strong></span> <a target="_blank" href="curp.pdf" data-toggle="tooltip" title="Descargar" download > <img src="icon.png" width=10%> </a></li>
            </ul>
        </div><!--/col-3-->
        <div class="col-sm-6">
            <form class="form" action="##" method="post" id="registrationForm">
                <div class="form-group">
                    <div class="col-xs-12">
                        <label for="first_name"><h5>Nombre Completo</h4></label>
                        <input type="text" class="form-control" name="first_name" id="first_name" placeholder="Nombre Completo" title="enter your first name if any.">
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-xs-12">
                        <label for="last_name"><h5>CURP</h4></label>
                        <input type="text" class="form-control" name="last_name" id="last_name" placeholder="CURP" title="enter your last name if any.">
                    </div>
                </div>

                <div class="form-group">

                    <div class="col-xs-12">
                        <label for="phone"><h5>Dirección</h4></label>
                        <input type="text" class="form-control" name="phone" id="phone" placeholder="Dirección" title="enter your phone number if any.">
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-xs-12">
                        <label for="email"><h5>Correo Elentronico</h4></label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="Ejemplo@email.com" title="ejemplo@email.com">
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-xs-12">
                        <label for="password"><h5>Contraseña</h4></label>
                        <input type="password" class="form-control" name="password" id="password" placeholder="Contraseña" title="enter your password.">
                    </div>
                </div>
                <!-- boton de guardar cambios -->
                <div class="col-xs-12 align-center" align="center">
                    <button id="disparador" class="ready-btn right-btn page-scroll" type="submit"><i class="glyphicon glyphicon-ok-sign"></i>Modificar</button>
                    <button id="oculto" class="ready-btn right-btn page-scroll" type="submit"><i class="glyphicon glyphicon-ok-sign"></i>Guardar Cambios</button>

                </div>

            </form>
        </div>
        <div class="col-sm-3" ><!--cuadro de la derecha -->
            <ul class="list-group">
                <li class="list-group-item text-muted">Datos de Empresa</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Nombre:</strong></span> <input type="text" class="form-control" name="phone" id="phone" placeholder="Nombre Empresa" ></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Horario:</strong></span> <input type="text" class="form-control" name="phone" id="phone" placeholder="Horario Empresa" </li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Correo Elentronico:</strong></span>   <input type="email" class="form-control" name="email" id="email" placeholder="Ejemplo@email.com" </li>
                <button id="disparador" class="ready-btn right-btn page-scroll" type="submit"><i ></i>Cambiar Ejidatario</button>
                <button id="disparador" class="ready-btn right-btn page-scroll" type="submit"><i></i>Historial de Ejidatarios</button>
            </ul>
            <!-- botones aqui -->

        </div><!--termina cuadro derecha -->
    </div><!--div del body-->
</div><!--todo excepto el menu-->
</body>

</html>